{{ include('header.html', ['prihlaseni' => $prihlaseni]) }}

    <label for="Aktuální štítky na knížce"> Vaše aktuální štítky na knížce {{ knizka.knizka }}: </label> <br>
    <table>
        <td>
            {{ foreach ($stitky as $stitek) }}
                {{ if ($stitky_prirazene[$stitek.id]) }}
                    {{ stitek.nazev }}
                    <a href="stitek_smazat.php?stitek_id={{ stitek.id }}"> smazat </a> <br>
                {{ endif }}
            {{ endforeach }}
        </td>
    </table>

    <form action="stitek_pridat_overeni.php" method="POST">

        <input type="hidden" name="knizka_id" value="{{ $knizka.id }}">

        <label for="Přidat štítek"> Přidat nový: </label>
        <input type="text" name="stitek_text" id="stitek_text">

        <label for="stitek_id"> nebo vybrat: </label>
        <select name="stitek_id" id="stitek_id">
            <option value="NULL" selected> -- nevybráno -- </option>
            {{ foreach ($stitky as $stitek) }}
                {{ if (!($stitky_prirazene[$stitek.id])) }}
                    <option value="{{ stitek.id }}"> {{ stitek.nazev }} </option>
                {{ endif }}
            {{ endforeach }}
        </select> <br>

        <input type="submit" name="OK" value="OK"> <br>

    </form>

{{ include('footer.html') }}