{{ include('header.html', ['prihlaseni' => $prihlaseni]) }}

<h2> {{ knizka.knizka }} </h2>
<h3> {{ knizka.autor }} </h3>
<h3> {{ knizka.zanr}} </h3>

<table>
    <tr>
        <th> Autor </th>
        <th> Recenze </th>
        <th> Upravit </th>
        <th> Smazat </th>
    </tr>
    {{foreach ($recenze as $recenz)}}
    <tr>
        <td> {{ $recenz.uzivatel }} </td>
        <td> {{ $recenz.text_recenze }} </td>
        <td>{{ if ($recenz.uzivatel_id == $prihlaseni.id) }} <a href="edit_recenze.php?id={{ $recenz.id }}">zde</a> {{ endif }} </td>
        <td>{{ if ($recenz.uzivatel_id == $prihlaseni.id) }} <a href="delete_recenze.php?id={{ $recenz.id }}">zde</a> {{ endif }} </td>
    </tr>
    {{ endforeach }}
</table>
<a href="nova_recenze.php?kniha_id={{ $knizka.id }}">Přidat recenzi</a>

{{ include('footer.html') }}